.container{
  height: 100vh;
  /* background-color: aquamarine; */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  grid-gap: 10px;
}

#header{
  grid-column: 1/ span 12;
  background-color: rgb(228, 188, 227);
}

#sidebar{
  background-color: rgb(228, 188, 227);
  grid-row: 2/span 10;
  grid-column: 1/ span 3;
}
#navigation{
  background-color: rgb(228, 188, 227);
  grid-row: 2/span 1;
  grid-column: 4/ span 6;
}
#main{
  background-color: rgb(228, 188, 227);
  grid-row: 3/span 9;
  grid-column: 4/ span 6;
}
#ads{
  background-color: rgb(228, 188, 227);
  grid-row: 2/span 10;
  grid-column: 10/ span 3;
}
#footer{
  background-color: rgb(228, 188, 227);
  grid-row: 12/span 1;
  grid-column: 1/ span 12;
}

@media (max-width: 720px){
  #navigation{
    grid-row: 2/span 1;
    grid-column: 1/ span 12;
  }

  #sidebar{
    grid-row: 3/span 9;
    grid-column: 1/ span 3;
  }

  #main{
    grid-row: 3/span 9;
    grid-column: 4/ span 9;
  }

  #ads{
    grid-row: 12/span 1;
    grid-column: 1/ span 3;
  }

  #footer{
    grid-row: 12/span 1;
    grid-column: 4/ span 9;
  }
}