.face{
  height: 400px;
  width: 400px;
  background-color: #ffa51f;
  border-radius: 50%;
}

.eyes{
  height: 50px;
  width: 50px;
  background-color: black;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}

#le{
  top: 100px;
  left: 100px;
}

#ri{
  top: 100px;
  left: 250px;
}

.mouth{
  height: 75px;
  width: 200px;
  background-color: brown;
  position: absolute;
  top: 260px;
  left: 100px;
  border-radius: 0 0 50px 50px;
}