.container{
  height: 50px;
  width: 900px;
  background-color: pink;
  border: 2px solid rgb(22, 175, 210);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.item{
  height: 50px;
  width: 80px;
  font-size: 24px;
  line-height: 50px;
}