#pets{
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 400px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

img{
  width: 100%;
  border-radius: 25px;
}

span{
  color: #d56f3e;
}

h2{
  color: #d56f3e;
}

h4{
  text-align: right;
  color: #3c787e;
}

@media(max-width:375px){
  #pets{
    flex-wrap: wrap;
  }
}